In [1]:
import pandas as pd

In [2]:
loyal_data=pd.read_csv("clean loyal and disloyal data.csv")

In [3]:
loyal_data

,Unnamed: 0,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,0,1,1,1,1,1,13,460,5,4,5,25,18.0
1,1,1,0,0,0,1,25,235,1,3,1,1,6.0
2,2,0,1,0,0,0,26,1142,5,4,5,0,0.0
3,3,0,1,0,0,1,25,562,2,3,2,11,9.0
4,4,1,1,0,0,0,61,214,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
103417,103899,0,0,0,2,1,23,192,2,4,2,3,0.0
103418,103900,1,1,0,0,0,49,2347,5,5,4,0,0.0
103419,103901,1,0,0,0,1,30,1995,4,4,4,7,14.0
103420,103902,0,0,0,2,1,22,1000,1,1,1,0,0.0
103421,103903,1,1,0,0,1,27,1723,1,4,1,0,0.0

In [4]:
import joblib

In [ ]:
joblib.dump(loyal_data, 'loyal_data.lb')

In [ ]:
model =joblib.load('xyz.lb')

In [ ]:
model.predict(x_test)